
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root{
    --bg-body-color: #8ecae6;
    --color3: #fefae0;
    --info-color: #253342;
    --info-color-sub: #3e5954;
    --main-color: #023047;
    --main-second-color: #219ebc;

    --color1:#851A50;
    --color2: #FDB235;
    --color3: #DFE4E8;
    --color4: #161853;
    
}

body{
    background-color: var(--color3);
}



h1{
    font-family: 'Ubuntu', sans-serif;
    height: 2rem;
    text-transform: uppercase;
    display: flex;
    justify-content: center; 
    background-color: var(--color4);
    color: var(--color3);
    font-size: 1.5rem;
}

.criacao{
    width: 100%;
    height: 30vh; 
    display: flex;
    align-items: center;
       
}

.novo_item{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    background-color: var(--color4);
    color: var(--color3);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid var(--color4);
    padding: 1rem;
    border-radius: 18px;
    gap:1rem
}

.campo{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.label{
    min-width: 10%;
    padding-right: auto;
    
}

.input {
    min-width: 80%;
    height: 1rem;
    border-radius: 5px;
    border: 1px solid var(--color3);
    background-color: var(--color4);
    box-shadow: var(--color3) 2px 2px 0px 0.5px;
    font-size: 15px;
    font-weight: 600;
    color: var(--color3);
    padding: 0.5rem;
    outline: none;
    
}

.input::placeholder {
    color: var(--color3);
    opacity: 0.6;
}

.input:focus {
    border: 1px solid var(--color3);
    box-shadow: var(--color3) 4px 4px 0px 0.5px;
    transition: 700ms;
}

.adicionar {
    cursor: pointer;
    text-transform: uppercase;
    padding: 1rem 3rem;
    border-radius: 10px;
    border: 2px solid var(--color3);
    background-color: var(--color4);
    letter-spacing: 1.5px;
    font-size: 1rem;
    transition: all .3s ease;
    box-shadow: 3px 3px var(--color3);
    color: var(--color3);
    
}



.adicionar:active {
    transform: translateY(5px);
    transition: 200ms;
    box-shadow: none;
    transform: translate(3px, 3px);
}
.adicionar:after{
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
}


.colunas{
    background-color: var(--color4);
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
    border: 1px solid var(--color4);
    border-radius: 18px;
    padding: 0 1rem 1rem 1rem;
}

.menu-action{
    height: 3rem;
    display: flex;
    align-items: center;
}

.container{
    min-height: 70vh;
    min-width: 50vh;
    background-color: var(--color4);
    border: 1px solid var(--color1);
    border-radius: 18px;
    padding: 0.2rem 2rem;
    color: var(--color3);
}

.todo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 1rem;
    font-size: 1.5rem;
}

.item {
    list-style: none;
    padding: 0.6em 2em;
    background: var(--color1);
    border-radius: 10px;
    margin: 0 0 1em;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    gap: 1em;
    font-size: 20px;
    color: var(--color3);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.item strong {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--color3);
    font-weight: 400;
}

.item:hover{
    background-color: var(--color2);
} 


